@import "Color.scss";

#banner {
  height: 5rem;
  background-color: $light-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  font-family: "CartoGothicStd Bold";
  position: relative;
  transition: background-color 500ms;
  box-shadow: 0 0 0.5rem $light-blue;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;

  * {
    transition: color 500ms;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    position: relative;
    padding: 0 4rem;
  }

  #mode {
    display: flex;
    gap: 1rem;
    padding: 0 4rem;

    p {
      font-size: 1rem;
      font-family: "CartoGothicStd";
      user-select: none;
    }

    #mode-text {
      padding: 0 4rem 0 0;
    }

    #mode-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      #circle {
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 100%;
        transition: width 500ms, height 500ms;
      }
    }
  }
}
